<launch>
		<include file="$(find arm_controll)/launch/arms.launch">
			<arg name="manip_name" value="delta"/>
		</include>
		<node name = "udp2ros_del" pkg = "udp_pkg_test" type = "udp2ros_del.py" output = "screen"/>
		<node pkg = "delta_arm_pkg_test" type = "send_joint_state.py" name = "send_joint_states" output = "screen"/>

		<node name="convert_and_publish" pkg="delta_arm_pkg_test" type = "publish_joint_states_vel_acc.py" output = "screen"/>
		<node name="main_to_point" pkg="delta_arm_pkg_test" type = "main_to_point_node.py" output = "screen"/>

</launch>

