<launch>
		<include file="$(find arm_controll_test)/launch/arms.launch">
			<arg name="manip_name" value="angle"/>
		</include>
	
		<node pkg = "angle_arm_pkg_test" type = "send_joint_state.py" name = "send_joint_states" output = "screen"/>
		<node name="convert_and_publish" pkg="angle_arm_pkg_test" type = "publish_joint_states_vel_acc.py" output = "screen"/>
		<node name = "main_node_to_point_control" pkg = "angle_arm_pkg_test" type = "main_to_point_node.py" output = "screen"/>
		<node name = "udp2ros_ang" pkg = "udp_pkg_test" type = "udp2ros_ang.py" output = "screen"/>
</launch>

